<template name="footer">
  <footer class="footer">
    <div class="row">
      <div class="small-12 columns">
        <img src="/images/logo.svg" class="footer__logo" alt="">
        <div class="row">
          <div class="medium-6 columns">
            <p>Comments? Life questions? <br><a href="mailto:hello@wompfeed">hello@wompfeed.com</a></p>
            <p>Inflate our Klout score <br><a href="http://twitter.com/wompfeed">@wompfeed</a></p>
          </div>
          <div class="medium-6 columns">
            <p>Made with &hearts; by:</p>
            <p><a href="http://twitter.com/thedeerchild">Eric Morris</a>, <a href="http://twitter.com/geoffkimball">Geoff Kimball</a>, <a href="http://twitter.com/kythe_co">Kathy Lu</a>, <a href="http://twitter.com/kerifullwood">Keri Fullwood</a>, and Michael Scarito.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>