<template name="footer">
  <footer class="footer">
    <div class="row">
      <div class="small-12 columns">
        <img src="/images/logo.svg" class="footer__logo" alt="">
        <div class="row">
          <div class="medium-6 columns">
            <p>Comments? Life questions? <br><a href="mailto:hello@wompfeed">hello@wompfeed.com</a></p>
            <p>Inflate our Klout score <br><a href="#">@wompfeed</a></p>
          </div>
          <div class="medium-6 columns">
            <p>Made with &hearts; by:</p>
            <p>Eric Morris, Geoff Kimball, Kathy Lu, Keri Fullwood, and Michael Scarito.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__lower">
      <div class="row">
        <div class="small-12 columns">
          <a href="http://www.giphy.com"><img src="/images/giphy-logo.gif"></a>
        </div>
      </div>
    </div>
  </footer>
</template>