<template name="footer">
  <footer class="footer">
  <div class="row">
    <div class="small-12 columns footer-zurb text-center">
    <h5>Made with love by ZURBians:</h5>
    <a href="https://twitter.com/thedeerchild" target="_blank">Eric Morris, </a>
    <a href="https://twitter.com/KeriFullwood" target="_blank">Keri Fullwood, </a>
    <a href="https://twitter.com/geoffkimball" target="_blank">Geoff Kimball, </a>
    <a href="www.kythe.co" target="_blank">Kathy Lu, </a>
    <a href="">and Michael Scarito.</a>
    </div>
    <div class="small-12 columns footer-zurb1">
   <h5>Wompfeed is powered by <a href="http://giphy.com">GIPHY</a></h5>
    </div>
  </div>
    </footer>
</template>