@import "packages/foundation5-sass/foundation";

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@import "client/stylesheets/scss/pages/article";
@import "client/stylesheets/scss/pages/editor";