@import "client/stylesheets/scss/settings";
@import "packages/foundation5-sass/foundation";

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "europa", Helvetica, sans-serif;
}

.rafi-box {
  background: #fff url('../images/PartyPartyParty.png') left bottom fixed no-repeat;
  background-size: auto 100%;
}

.button {
  border-radius: 8px;
}

@import 
  "client/stylesheets/scss/components/index",
  "client/stylesheets/scss/components/article",
  "client/stylesheets/scss/components/congrats",
  "client/stylesheets/scss/components/editor",
  "client/stylesheets/scss/components/gif-searcher",
  "client/stylesheets/scss/components/header",
  "client/stylesheets/scss/components/post-grid",
  "client/stylesheets/scss/components/profile",
  "client/stylesheets/scss/components/welcome";