<template name="editPost">
  <div class="editor__items" data-editor-items></div>

  <script id="content-template" type="text/x-handlebars-template">
    <div class="content-item">
      <!-- Title -->
      <textarea class="content-item__title" placeholder="Add a title (optional)">{{title}}</textarea>
      <!-- Image -->
      <div class="gif-searcher">
        <div class="gif-searcher__search">
          <input type="text" placeholder="Search for a GIF">
        </div>
        <div class="gif-searcher__results">
          <ul></ul>
        </div>
        <div class="gif-searcher__show">
          <img src="{{image}}">
        </div>
        <div class="gif-searcher__suggest">
          <ul></ul>
        </div>
      </div>
      <!-- Body -->
      <textarea class="content-item__body" placeholder="Add text (optional)">{{body}}</textarea>

      <span class="editor__handle"></span>
      <span class="editor__icon delete" data-editor-delete>×</span>
    </div>
  </script>
</template>