<template name="editPostForm">
  <div data-editor>
    <div class="editor-hero">
      <img class="editor-hero__background" src="http://placehold.it/500x500&text=%20" hero-background>
      <div class="row">
        <div class="small-12 columns">
          <h1 class="editor-hero__title" name="title" contenteditable data-editor-title>Click to Add Title</h1>
        </div>
      </div>
    </div>

    <div class="editor row">
      <div class="medium-10 large-8 medium-centered columns">
        <div class="editor__gif-searcher" hero-gif-search></div>
        <div class="editor__title">
          <textarea class="editor__deck" name="introText" placeholder="Add an intro (optional)"></textarea>
        </div>
        
        <div class="editor__items" data-editor-items></div>
        
        <script id="content-template" type="text/x-handlebars-template">
          <div class="content-item">
            <!-- Title -->
            <textarea class="content-item__title" placeholder="Add a title (optional)">{{title}}</textarea>
            <!-- Image -->
            <div class="gif-searcher">
              <div class="gif-searcher__search">
                <input type="text" placeholder="Search for a GIF">
              </div>
              <div class="gif-searcher__results">
                <ul></ul>
              </div>
              <div class="gif-searcher__show">
                <p class="gif-searcher__settings"><a class="delete">Remove</a></p>
                <img src="{{image}}">
              </div>
              <div class="gif-searcher__suggest">
                <ul></ul>
              </div>
            </div>
            <!-- Body -->
            <textarea class="content-item__body" placeholder="Add text">{{body}}</textarea>
            
            <span class="editor__handle"></span>
            <span class="editor__icon delete" data-editor-delete>×</span>
          </div>
        </script>
        
        
        <div class="editor__controls">
          <div class="button" data-editor-add>Add Section</div>
        </div>
      </div>
    </div>
  </div>
</template>
