<template name="showUser">
  <section class="row profile">
    <div class="small-12 columns">
      <section class="row profile__header">
        <div class="medium-4 columns">
          <div class="profile__header__avatar">
            <img src="{{profileImage}}">
            <span>{{points}}</span>
          </div>
        </div>
        <div class="medium-8 columns">
          <h1 class="profile__header__name">{{profile.name}}</h1>
          <p class="profile__header__alias"><a href="http://twitter.com/{{services.twitter.screenName}}" target="_blank">@{{services.twitter.screenName}}</a></p>
          {{#if isMe}}<p><a href="#" class="sign-out">Sign Out</a></p>{{/if}}
        </div>
      </section>
      <section class="profile__posts">
        <h2>{{postsCount}}</h2>
        {{#with posts}}
          {{> postsGrid}}
        {{/with}}
      </section>
    </div>
  </section>
</template>