.article {
  img{
    @include center-block;
    margin-bottom: 1em;
  }

}
  .article__title {
    font-weight: 900;
    line-height:1.1em;
    @media #{$small-up}{font-size:rem-calc(20);}
    @media #{$large-up}{font-size:rem-calc(60);}
  }
  .article .article__author {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: rem-calc(20);
    color:#424242;
    padding-top:2em;
    padding-bottom:1.1em;
    text-align: center;
    font-weight: bold;
  }
  .article .article__deck {
    font-size: 1.5rem;
    color: #666;
  }
  .article__body {
    font-size: rem-calc(30);
    font-weight: 100;
    color:#424242;

    p {
      padding-top:1em;
      padding-bottom:1em;
      font-size: rem-calc(20);
      font-weight: 100;
      color:#424242;
    }
    img {
      width: 100%;
    }
  }

.article-hero {
  position: relative;
  width: 100%;
  padding: 2em 0;
  overflow: hidden;
  height: 100%;
  margin-bottom: 1em;

  .header + & {
    margin-top: -3em;
  }

}
  .article-hero__background {
    position: absolute;
    top: -260px;
    left: 0;
    width: 500%;
    height:100%;
    z-index: -1;
    // Where the magic happens
    -webkit-filter: blur(20px);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .article-hero__title {
    position: relative;
    text-align: center;
    font-size: 4.5em;
    color: white;
    text-shadow: 1px 1px 1px #838383;
    padding-top: 1.7em;
    padding-bottom:3em;
  }

  .article-hero__title-no-background {
    position: relative;
    text-align: center;
    font-size: 4.5em;
  }