.footer {
	background: #333;
  color: #fff;
  padding: {
    top: 2em;
  }

  p {
    margin-bottom: 0.5em;
  }
  a {
    color: #ccc;
    font-weight: bold;
  }
}
  .footer__logo {
    height: 2em;
    margin-bottom: 1em;
  }
  .footer__lower {
    background: #222;
    margin-top: 2em;
    padding: {
      top: 0.5em;
      bottom: 0.5em;
    }
  }