// GIF searcher
.gif-searcher {
  > img {
    width: 100%;
  }

  -webkit-transition: height 1s linear;
}
%gif-searcher__pane {
  background: lighten($primary-color, 15%);
  padding: 1em;
}
.gif-searcher__search {
  @extend %gif-searcher__pane;

  height: auto;

  p {
    text-align: center;
  }
  input {
    border: 0;
    outline: 0;
    border-radius: 4px;
    margin: 0;
  }
}
.gif-searcher__results {
  @extend %gif-searcher__pane;

  height: 300px;
  overflow-y: scroll;

  ul {
    @include block-grid(3);
  }
}
.gif-searcher__show {
  @extend %gif-searcher__pane;

  position: relative;
  padding: 0;
  height: auto;
  overflow-y: scroll;

  > img {
    width: 100%;
  }
}
.gif-searcher__settings {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 2px 0 #000;

  a {
    color: white;
    top: 0px;

    a:hover {
      color: white;
      position: relative;
      top: -2px;
    }
  }
}