// GIF searcher
.gif-searcher {
  > img {
    width: 100%;
  }

  -webkit-transition: height 1s linear;
}
%gif-searcher__pane {
  background: lighten($primary-color, 15%);
  padding: 1em;
}
.gif-searcher__search {
  @extend %gif-searcher__pane;

  height: auto;

  p {
    text-align: center;
  }
  input {
    border: 0;
    outline: 0;
    border-radius: 4px;
    margin: 0;
  }
}
.gif-searcher__results {
  @extend %gif-searcher__pane;

  height: 300px;
  overflow-y: scroll;

  .again {
    float: left;
    line-height: 30px;
    color: white;

    &:hover { color: #eee; }
  }
  .giphy {
    display: block;
    float: right;
    height: 30px;
    margin-bottom: 1em;
  }

  ul {
    @include block-grid(3);
    clear: both;
  }
}
.gif-searcher__show {
  @extend %gif-searcher__pane;

  position: relative;
  padding: 0;
  height: auto;
  overflow-y: scroll;

  > img {
    width: 100%;
  }
}
.gif-searcher__settings {
  position: absolute;
  top: 0.5em;
  left: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 2px 0 #000;

  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;

  .gif-searcher__show:hover & {
    opacity: 1;
    color: #ccc;
  }

  a {
    color: white;
    top: 0px;

    a:hover {
      color: white;
      position: relative;
      top: -2px;
    }
  }
}
.gif-searcher__suggest {
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-top: 1em;
  }

  li {
    display: inline-block;
    background: $primary-color;
    padding: 0.25em 0.75em;
    margin-right: 1em;
    font-size: 0.9em;
    border-radius: 8px;
    color: white;

    &:hover {
      background: darken($primary-color, 15%);
      cursor: pointer;
    }
  }
}