.post-grid {
  @include block-grid(1);

  @media #{$medium-up} {
    @include block-grid(2, $base-style: false);
  }

  a {
    display: block;
    &:hover {
      h3 {
        color: $primary-color;
      }
    }
  }
  img {
    display: block;
    margin-bottom: 0.5em;
  }

}
  .grid-img {
    width:100%;
    padding-top:75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }