.header {

}
  .header__logo {

  }
  .header__login {
    float:right;
  }

.article {
  img{
    @include center-block;
  }

}
.title-background{

}
  .article__title {
    font-family: "motor", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height:1.1em;
    @media #{$small-up}{font-size:rem-calc(20);}
    @media #{$large-up}{font-size:rem-calc(60);}

}
  ul{
  }
  .article__author {
    font-family: "europa", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: rem-calc(20);
    color:#424242;
    padding-top:2em;
    padding-bottom:1.1em;

  }
  .article__body {
    font-family: "europa", Helvetica, Arial, sans-serif;
    font-size: rem-calc(30);
    font-weight: 100;
    color:#424242;


  }
    .article__body p {
    padding-top:1em;
    padding-bottom:1em;
    font-family: "europa", Helvetica, Arial, sans-serif;
    font-size: rem-calc(20);
    font-weight: 100;
    color:#424242;

    }
    .article__body img {

    }

.hero {
  position: relative;
  width: 100%;
  padding: 2em 0;
  overflow: hidden; // Hide overflow to contain the background
  /*height:85vh;*/
  height:520px;

}
  .hero__background {
    position: absolute;
    top: -260px;
    left: 0;
    width: 500%;
    // Where the magic happens
    -webkit-filter: blur(20px);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .hero__title {
    font-family: "motor", Helvetica, Arial, sans-serif;
    position: relative;
    text-align: center;
    font-size: 4.5em;
    color: white;
    text-shadow: 1px 1px 1px #838383;
    padding-top: 1.7em;
    padding-bottom:3em;
  }